<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RubyCritic</title>
    <link href="<%= stylesheet_path(:application) %>" media="screen, projection, print" rel="stylesheet" type="text/css">
    <link href="<%= stylesheet_path(:'prettify.custom_theme') %>" media="screen, projection, print" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header class="project-header group">
      <div class="ui stackable menu">
        <div class="item">
          <h1 class="logo"><a href="<%= file_path('overview.html') %>" class="logo-link">RubyCritic</a></h1>
        </div>
          <a href="<%= file_path('overview.html') %>" class="item">Overview</a>
          <a href="<%= file_path('code_index.html') %>" class="item">Code</a>
          <a href="<%= file_path('smells_index.html') %>" class="item">Smells</a>
      </div>
    </header>
    <%= yield %>
    <%= javascript_tag(:'jquery-2.1.0') %>
    <%= javascript_tag(:'jquery.tablesorter-2.0') %>
    <%= javascript_tag(:'jquery.floatThead-v1.2.7') %>
    <%= javascript_tag(:'jquery.timeago-v1.4.1') %>
    <%= javascript_tag(:'highcharts.src-4.0.1') %>
    <%= javascript_tag(:'jquery.scrollTo-1.4.11') %>
    <%= javascript_tag(:'prettify-4-Mar-2013') %>
    <%= javascript_tag(:application) %>
  </body>
</html>
